{% extends 'layout.html.twig' %}

{% block title 'Editar Receta' %}

{% block body %}

<form class="form-horizontal" method="post" action="{{ url('users-save') }}">

  <input type="hidden" name="index" value="{{ index }}">

  <fieldset>

    <!-- Titulo -->
    <legend>Crear o Editar Receta</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Nombre</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="nombre" value="{{ user_to_edit.nombre }}"
            placeholder="nombre de la receta" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Dificultad</label>
      <div class="col-md-4">
      <select name="dificultad" class="form-control input-md">
         <option value="baja">Baja</option>
         <option value="media">Media</option>
         <option value="dificil">Dificil</option>
      </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Tiempo</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="tiempo" value="{{ user_to_edit.tiempo }}"
            placeholder="tiempo de preparacion" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Tipo</label>
      <div class="col-md-4">
         <select name="tipo" class="form-control input-md">
         <option value="plato fuerte">Plato fuerte</option>
         <option value="sopa">sopa</option>
         <option value="postre">Postre</option>
         <option value="Bebida">Bebida</option>
      </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Costo</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="costo" value="{{ user_to_edit.costo}}"
            placeholder="costo para realizar la receta" required="">
      </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
      <div class="col-md-8">
        <div class="pull-right">
          <button class="btn btn-primary" type="submit">Guardar</button>
          <a href="{{ url('users-list') }}>" >
            <button class="btn btn-primary">Cancelar</button>
          </a>
        </div>
      </div>
    </div>

  </fieldset>
</form>


{% endblock %}